# Function
### print ชื่อ xxx นาวสกุล yyy รหัส zzz
### print เกรด วิชา stat1 >>AAA

In [76]:
a = 'ชื่อ นวลผกา นามสกุล พิมพ์พัฒน์ รหัส 603021109-7'
print(a)

ชื่อ นวลผกา นามสกุล พิมพ์พัฒน์ รหัส 603021109-7

In [77]:
name = 'นวลผกา'
surname = 'พิมพ์พัฒน์'
ID = '603021109-7'

b = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
print(b)

ชื่อ นวลผกา นามสกุล พิมพ์พัฒน์ รหัส 603021109-7

## function
~~~python
def function_name(input):
    do_something
    return output
~~~

In [78]:
def print_line1(name1,surname1,ID1):
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID1}'
    return st

In [79]:
print(print_line1('นวลผกา','พิมพ์พัฒน์','603021109-7'))

ชื่อ นวลผกา นามสกุล พิมพ์พัฒน์ รหัส 603021109-7

# Function without output

In [84]:
def print_2lines(name1,surname1,ID1,grade):
    st = f'ชื่อ {name1} นามสกุล {surname1} รหัส {ID1}'
    print(st)
    st2 = f'เกรดวิชา stat1 >>> {grade}'
    print(st2)

In [85]:
print_2lines('นวลผกา','พิมพ์พัฒน์','603021109-7','A')
print_2lines('ปนิดา','ท่าประโคน','6030275-7','A')
print_2lines('รสสุคณธ์','เอกไชย','603021315-4','A')
print_2lines('สุชาวดี','อัฉริยวงศ์เมธี','603021888-7','A')

ชื่อ นวลผกา นามสกุล พิมพ์พัฒน์ รหัส 603021109-7
เกรดวิชา stat1 >>> A
ชื่อ ปนิดา นามสกุล ท่าประโคน รหัส 6030275-7
เกรดวิชา stat1 >>> A
ชื่อ รสสุคณธ์ นามสกุล เอกไชย รหัส 603021315-4
เกรดวิชา stat1 >>> A
ชื่อ สุชาวดี นามสกุล อัฉริยวงศ์เมธี รหัส 603021888-7
เกรดวิชา stat1 >>> A

# function without output

In [42]:
def two_x_three():
    x = 2*3
    return x

In [43]:
two_x_three()

6

In [51]:
def print_2lines_default(name1,surname1,ID1,grade ='f'):
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID1}'
    print(st)
    st2 = f'เกรดวิชา stat1 >>> {grade}'
    print(st2)

In [52]:
print_2lines_default('นวลผกา','พิมพ์พัฒน์','603021109-7')

ชื่อ นวลผกา นามสกุล พิมพ์พัฒน์ รหัส 603021109-7
เกรดวิชา stat1 >>> f

In [58]:
print_2lines_default('นวลผกา','พิมพ์พัฒน์','603021109-7','A+')

ชื่อ นวลผกา นามสกุล พิมพ์พัฒน์ รหัส 603021109-7
เกรดวิชา stat1 >>> A+

In [59]:
print_2lines_default(name1 = 'นวลผกา',surname1 = 'พิมพ์พัฒน์',ID1 = '603021109-7')

ชื่อ นวลผกา นามสกุล พิมพ์พัฒน์ รหัส 603021109-7
เกรดวิชา stat1 >>> f

# Loop(วนซ้ำ)
~~~python
for each_member in listA:
    do_something
~~~

In [60]:
for i in [1,2,3]:
    print(i)

1
2
3

In [65]:
for i in 'Thanapong':
    print(f'{i}-> /')
    print(' ')

T-> /

h-> /

a-> /

n-> /

a-> /

p-> /

o-> /

n-> /

g-> /

# 1. สร้าง list ชื่อเพื่อนที่อยู่ในแถวยาวเดียวกัน
# 2. วนลูป print ประโยคว่า เล็ก รัก เพื่อนๆนะคะ

In [102]:
def print_2lines(name3,):
    st = f'ชื่อ {name3}'
    print(st)

In [103]:
print_2lines('เขียว')
print_2lines('ฟาง')
print_2lines('ปิง')

ชื่อ เขียว
ชื่อ ฟาง
ชื่อ ปิง

In [104]:
def print_2lines(name3,ความรู้สึก,Friends):
    st = f'{name3} {ความรู้สึก} {Friends}'
    print(st)

In [105]:
print_2lines('เล็ก','รัก','เขียว')
print_2lines('เล็ก','รัก','ฟาง')
print_2lines('เล็ก','รัก','ปิง')

เล็ก รัก เขียว
เล็ก รัก ฟาง
เล็ก รัก ปิง

In [111]:
friend_list = ['เขียว','ฟาง','ปิง']

In [143]:
def print_feeling(I,feeling,friend):
    print(f'{I} {feeling} {friend}')

In [113]:
print_feeling('เล็ก','รัก','เขียว')

เล็ก รัก เขียว

In [114]:
for x in friend_list:
    print_feeling('เล็ก','รัก',x)

เล็ก รัก เขียว
เล็ก รัก ฟาง
เล็ก รัก ปิง

# loop in function

In [136]:
def print_feelings(I,feeling,friend):
    for x in friend:
        print(f'{I} {feeling} {x}')

In [137]:
print_feeling('เล็ก','รัก',friend_list)

เล็ก รัก เขียว
เล็ก รัก ฟาง
เล็ก รัก ปิง

# looping i dist

In [138]:
name_grade = {'พันทิพา':'A','ศุภนิตา':'c','ปนัดดา':'A','ทรงกลด':'f'}
name_grade

{'พันทิพา': 'A', 'ศุภนิตา': 'c', 'ปนัดดา': 'A', 'ทรงกลด': 'f'}

In [139]:
name_grade['ปนัดดา']

'A'

In [140]:
name_grade.keys()

dict_keys(['พันทิพา', 'ศุภนิตา', 'ปนัดดา', 'ทรงกลด'])

In [141]:
for i in name_grade.keys():
    print(f'{i} ได้เกรด {name_grade[i]}')

พันทิพา ได้เกรด A
ศุภนิตา ได้เกรด c
ปนัดดา ได้เกรด A
ทรงกลด ได้เกรด f

# loop in loop

In [149]:
for name1 in friend_list:
    for name2 in friend_list:
        print_feeling(name1,'รัก',name2)

เขียว รัก เขียว
เขียว รัก ฟาง
เขียว รัก ปิง
ฟาง รัก เขียว
ฟาง รัก ฟาง
ฟาง รัก ปิง
ปิง รัก เขียว
ปิง รัก ฟาง
ปิง รัก ปิง

# conditional เงื่อนไข

In [ ]:
# == เช็คว่าข้างหน้าและข้างหลังเท่ากันหรือเปล่า เท่ากันคือ true
# != ไม่เท่ากับ
# >= ตัวข้างหน้ามากกว่าตัวข้างหลังหรือเปล่า
# <= ตัวข้างหน้าน้อยกว่ากันหรือเปล่า
# <  
# >

~~~python
if conditional1:
    do something
elif conditional2:
    do anather thing
elif:
    do ...
~~~

In [153]:
for name1 in friend_list:
    for name2 in friend_list:
        if name1 != name2:
            print_feeling(name1,'รัก',name2)

เขียว รัก ฟาง
เขียว รัก ปิง
ฟาง รัก เขียว
ฟาง รัก ปิง
ปิง รัก เขียว
ปิง รัก ฟาง

In [154]:
if True:
    print('yes')

yes

In [157]:
if False:
    print('no')

In [159]:
if False:
    print('yes')
else:
    print('no')

no

In [161]:
1==1

True

In [165]:
if 1==1:
    print('1=1')

1=1

# HW
เขียน function ตัดเกรด โดยที่ input เป็น คะแนน(0-100) output เป็นเกรด(F-A)

input = [1,50,65,90,101,-5,49]

In [1]:
N = [1,50,65,90,101,-5,49]

In [2]:
for i in N:
    if i >79:
        print('A')
    elif i >74:
         print('B+')
    elif i >69:
         print('B')
    elif i >64:
         print('C+')
    elif i >59:
         print('C')
    elif i >54:
         print('D+')
    elif i >49:
         print('D')
    else:
         print('F')

F
D
C+
A
A
F
F